h1{
	font-family: cursive;
	text-align: center;
}

body{
	background-repeat: no-repeat;
	background-size: cover;
}

h3{
	font-family: fantasy;
}

p{
	font-family: sans-serif;
	color: black;
}

img{
	text-align: center;
}

button{
	background-color: cyan;
}

td{
	border: 3px solid white;
	padding: 1px;
	width: 600px;
	height: 150px;
}

nav{
  line-height: 30px;
  background-color: gray;
  color: white;
  height: 600px;
  width: 200px;
  float: left;
  padding: 5px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  width: 20%; 
}

header{
  background-color: gray;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

footer{
  color: black;
  clear: both;
  text-align: center;
  padding: 5px;
  width: 100%;
}